---
import Layout from "../layouts/Layout.astro";
import NanoUi from "../components/NanoUi.astro";
---

<Layout
    title="Nano ID Generator | Tiny, Secure, URL-Friendly IDs"
    description="Create tiny, secure, URL-friendly unique string IDs for JavaScript. NanoID is efficient, safe, and perfect for modern applications."
>
    <main class="min-h-screen bg-base-200">
        <NanoUi />
    </main>
</Layout>
