---
import Layout from "../layouts/Layout.astro";
import PasswordUi from "../components/PasswordUi.astro";
---

<Layout>
    <main class="min-h-screen bg-base-200">
        <PasswordUi />
    </main>
</Layout>
