---
import Layout from "../layouts/Layout.astro";
import PasswordUi from "../components/PasswordUi.astro";
---

<Layout
    title="Secure Password Generator | Random & Strong Passwords"
    description="Generate strong, secure random passwords instantly. Customize length and characters to ensure maximum security for your accounts."
>
    <main class="min-h-screen bg-base-200">
        <PasswordUi />
    </main>
</Layout>
