---
import Layout from "../layouts/Layout.astro";
import UuidUi from "../components/UuidUi.astro";
---

<Layout
    title="UUID Generator | Online UUID v4 Generator"
    description="Generate random UUIDs (Universally Unique Identifiers) instantly. Free online v4 UUID generator for unique keys in your database and applications."
>
    <main class="min-h-screen bg-base-200">
        <UuidUi />
    </main>
</Layout>
